/2024_Fall_Syllabus_CSCI_1070_2_Johnson.docx
/Aristotle's Works.pdf
/cars(1).csv
/cars.csv
/classes.ipynb
/Core-Temp-setup-v1.18.1.0.exe
/Data Science from Scratch.pdf
/data_types(1).ipynb
/data_types.ipynb
/desktop.ini
/DiscordSetup.exe
/e5d3e859aa0c794be10b-b999fb4425b54c63cab088c0ce2c0d6ce961a563
/e5d3e859aa0c794be10b-b999fb4425b54c63cab088c0ce2c0d6ce961a563.zip
/flow_control.ipynb
/Git-2.46.0-64-bit.exe
/GitHubDesktopSetup-x64.exe
/homework_1_questions(1)(1).ipynb
/homework_1_questions(1).ipynb
/homework_1_questions.ipynb
/homework_2_questions(1)(1).ipynb
/homework_2_questions(1).ipynb
/homework_2_questions(2).ipynb
/homework_2_questions(3).ipynb
/homework_2_questions.ipynb
/IMG_4462.jpg
/Linc Card 1-2.pdf
/Meet me in St. Louis Fall 2024 Syllabus.pdf
/pandas_part_1(1).ipynb
/pandas_part_1.ipynb
/pandas_part_2(1).ipynb
/pandas_part_2.ipynb
/python-3.10.10-amd64.exe
/python-3.12.5-amd64.exe
/Python-3.8.19
/Python-3.8.19.tar.xz
/Python-3.8.19.tgz
/python_click_through.ipynb
/tempCodeRunnerFile.ipynb
/VSCodeUserSetup-x64-1.92.2.exe
/warmup.ipynb
/week_01_Presentation.pptx
/week_01_R_Presentation.pptx
/Windows Python Install Instructions.docx